* {
  box-sizing: border-box;
}
html,
body,
#__next,
#safeHydrate {
  height: 100%;
}

/* prevent scrolling when there is an open dialog */
body:has(dialog[open]) {
  overflow: hidden;
}

html,
body {
  color: var(--gcds-text-primary);
}

footer,
header {
  background-color: #fff;
}

a {
  @apply underline text-gcds-blue-muted hover:text-gcds-blue-vivid;
}

#page-container {
  @apply grow shrink-0 basis-auto px-6 laptop:px-0;
  max-width: 71.25rem;
  margin: 0 auto;
}

@import "../node_modules/@gcds-core/tokens/build/web/css/global.css";

.container-xl {
  max-width: var(--gcds-container-xl);
  width: 100%;
}

#skip-link-container {
  width: 100%;
  position: absolute;
  z-index: 5;
  text-align: center;
  top: 10px;
  overflow: hidden;

  #skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;

    &:focus {
      position: static;
      padding: 5px;
      width: auto;
      height: auto;
      overflow: auto;
      text-align: center;
    }
  }
}
